@import url("https://fonts.googleapis.com/css2?family=Cormorant+Garamond:ital,wght@0,400;1,400;1,600&family=Crimson+Text:wght@400;600&family=Gentium+Plus&family=Inter:wght@300;400&family=Playfair+Display&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
  padding-left: 0;
}

a {
  text-decoration: none;
}

/* header */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 1rem 3rem;
}
.header .hd-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.5rem;
}
.header .hd-logo img {
  width: 65%;
  max-width: 75%;
}
.header .hd-nav {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  font-family: "Inter", sans-serif;
  width: 90%;
  margin: 0 auto;
}
.header .hd-nav .hd_nav_detail ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.6rem;
}
.header .hd-nav .hd_nav_detail ul a {
  font-size: 0.8rem;
  margin-right: 1.3rem;
  font-weight: 400;
  color: #000;
}
.header .hd-nav .hd_nav_logo {
  position: absolute;
  right: 0;
  color: rgb(243, 138, 138);
  text-align: end;
}
.header .hd-nav .hd_nav_logo p {
  font-weight: 400;
  font-size: 0.8rem;
  padding-bottom: 0.2rem;
}
.header .hd-nav .hd_nav_logo span {
  margin-left: 2rem;
  font-size: 1rem;
}

/* banner section */
.background {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
  width: 100%;
  background: url("../img/banner.jpg") center center/cover no-repeat;
}
.background .background_details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  max-width: 65%;
  background-color: #fff;
  opacity: 0.8;
  padding: 1.4rem;
  margin-top: 10rem;
  text-align: center;
}
.background .background_details h2 {
  max-width: 85%;
  font-size: 1.55rem;
  font-family: "Crimson Text", serif;
  font-weight: 500;
  padding: 0.5rem 0;
}
.background .background_details h6 {
  font-size: 1rem;
  font-weight: 500;
  font-style: italic;
  padding-bottom: 1rem;
}
.background .background_details p {
  font-size: 0.8rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  letter-spacing: 0.075rem;
}
.background .background_details button {
  background: #fff;
  border: 1px solid;
  padding: 0.5rem 2.5rem;
  font-size: 0.7rem;
  font-weight: 500;
  cursor: pointer;
}
.background .background_details .underline {
  padding-top: 0.4rem;
  width: 8rem;
  border-bottom: 1px solid rgb(112, 112, 112);
}

/* wedding planner section */
.wedding_planner {
  background: rgb(238, 238, 238);
  padding: 2.7rem;
}
.wedding_planner .planner_details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 65%;
  padding: 1rem;
  margin: 0 auto;
}
.wedding_planner .planner_details h2 {
  max-width: 85%;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Crimson Text", serif;
  font-weight: 500;
  padding: 0.7rem 0;
  border-bottom: 2px solid rgb(172, 172, 172);
}
.wedding_planner .planner_details h2 span {
  font-style: italic;
}
.wedding_planner .planner_details p {
  font-size: 0.75rem;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}
.wedding_planner .planner_details .planner_items {
  display: flex;
  justify-content: center;
  align-items: center;
}
.wedding_planner .planner_details .planner_items .item {
  margin: 0.9rem;
  padding-left: 1.65rem;
  color: rgb(116, 114, 114);
  border-left: 1px solid rgb(116, 114, 114);
  cursor: pointer;
}
.wedding_planner .planner_details .planner_items .item.active {
  font-weight: 600;
  color: #000;
  text-decoration: underline;
}
.wedding_planner .planner_details .planner_items .item:first-child {
  border: none;
}
.wedding_planner .planner_details .planner_form select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  border: 1px solid rgb(126, 126, 126);
  padding: 0.5rem 1rem;
  width: 12.2rem;
  background: url("../img/arrow.svg") no-repeat right 0.8em center/1.4em;
  cursor: pointer;
  background-color: transparent;
}
.wedding_planner .planner_details .planner_form select::-moz-placeholder {
  font-size: 0.6rem;
}
.wedding_planner .planner_details .planner_form select:-ms-input-placeholder {
  font-size: 0.6rem;
}
.wedding_planner .planner_details .planner_form select::placeholder {
  font-size: 0.6rem;
}
.wedding_planner .planner_details .planner_form select:first-child {
  margin-right: -5px;
}
.wedding_planner .planner_details .planner_form input[type=button] {
  padding: 0.55rem 1.5rem;
  border: 0;
  background-color: rgb(197, 197, 197);
  color: #000;
  font-weight: 600;
  margin-left: -5px;
  cursor: pointer;
}
.wedding_planner .planner_details .underline {
  padding-top: 0.4rem;
  width: 8rem;
  border-bottom: 1px solid rgb(112, 112, 112);
}

/* wedding card section */
.wedding_card {
  padding: 2.5rem;
}
.wedding_card .wedding_card_text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 0rem;
}
.wedding_card .wedding_card_text h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 400;
}
.wedding_card .wedding_card_text p {
  font-size: 0.625rem;
  font-weight: 400;
  cursor: pointer;
}
.wedding_card .card-layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.wedding_card .card-layout .owl-nav {
  display: none;
}
.wedding_card .card-layout .card {
  margin: 0.5rem;
  background-color: rgb(233, 233, 233);
  height: 540px;
}
.wedding_card .card-layout .card img {
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.wedding_card .card-layout .card .card-body {
  padding: 0.7rem;
}
.wedding_card .card-layout .card .card-body h6 {
  color: rgb(204, 43, 75);
  font-size: 0.55rem;
}
.wedding_card .card-layout .card .card-body h4 {
  color: rgb(53, 52, 52);
  padding: 1rem 0;
  font-size: 0.9rem;
  font-weight: 500;
}
.wedding_card .card-layout .card .card-body p {
  font-size: 0.7rem;
}

/* wedding pros section */
.wedding_pros {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.wedding_pros .wedding_pros_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-weight: 400;
}
.wedding_pros .wedding_pros_title h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
}
.wedding_pros .wedding_pros_title p {
  font-size: 0.625rem;
  cursor: pointer;
}
.wedding_pros .wedding_pros_content {
  position: relative;
  height: 70vh;
  width: 100%;
  background: url("../img/wedding.jpg") center center/cover no-repeat;
}
.wedding_pros .wedding_pros_content .wedding_pros_text {
  position: absolute;
  color: #fff;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  text-align: center;
}
.wedding_pros .wedding_pros_content .wedding_pros_text h4 {
  font-family: "Gentium Plus", serif;
  font-size: 1.5rem;
  font-weight: 400;
}
.wedding_pros .wedding_pros_content .wedding_pros_text h6 {
  font-family: "Playfair Display", serif;
  font-size: 0.9rem;
  font-weight: 400;
}
.wedding_pros .wedding_pros_content .wedding_pros_text p {
  font-family: "Inter", sans-serif;
  font-size: 0.575rem;
  padding: 1.2rem;
}

/* testimonial */
.testimonial {
  padding: 2.5rem;
  background-color: rgb(248, 240, 238);
  text-align: center;
}
.testimonial .testimonial_text {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-bottom: 1rem;
}
.testimonial .testimonial_text h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 1.6rem;
  font-style: italic;
  font-weight: 600;
  padding-left: 1rem;
}
.testimonial .testimonial_text h4 {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  font-weight: 500;
  padding-right: 1rem;
  border-right: 3px solid #000;
}
.testimonial .testimonial_form input[type=text] {
  padding: 0.4rem 0;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(179, 179, 179);
  margin-right: 0.5rem;
}
.testimonial .testimonial_form input[type=text]::-moz-placeholder {
  font-size: 0.6rem;
}
.testimonial .testimonial_form input[type=text]:-ms-input-placeholder {
  font-size: 0.6rem;
}
.testimonial .testimonial_form input[type=text]::placeholder {
  font-size: 0.6rem;
}
.testimonial .testimonial_form input[type=email] {
  padding: 0.4rem 0;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(179, 179, 179);
}
.testimonial .testimonial_form input[type=email]::-moz-placeholder {
  font-size: 0.6rem;
}
.testimonial .testimonial_form input[type=email]:-ms-input-placeholder {
  font-size: 0.6rem;
}
.testimonial .testimonial_form input[type=email]::placeholder {
  font-size: 0.6rem;
}
.testimonial .testimonial_form button {
  background-color: transparent;
  padding: 0.4rem 0.7rem;
  border: 2px solid rgb(179, 179, 179);
  font-size: 0.7rem;
}

/* trands section */
.trands {
  padding: 2.5rem;
}
.trands .trands_text {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 1rem 0rem;
}
.trands .trands_text h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
  font-weight: 400;
}
.trands .trands_text p {
  font-size: 0.625rem;
  font-weight: 400;
  cursor: pointer;
}
.trands .card-layout {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.trands .card-layout .owl-nav {
  display: none;
}
.trands .card-layout .card {
  margin: 0.5rem;
  height: 540px;
}
.trands .card-layout .card img {
  width: 100%;
  height: 350px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
.trands .card-layout .card .card-body {
  padding: 1rem 0;
}
.trands .card-layout .card .card-body h6 {
  color: rgb(204, 43, 75);
  font-size: 0.55rem;
}
.trands .card-layout .card .card-body h4 {
  color: rgb(53, 52, 52);
  padding: 1rem 0;
  font-size: 0.9rem;
  font-weight: 500;
}
.trands .card-layout .card .card-body p {
  font-size: 0.7rem;
}

/* venue section */
.venue {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 40vh;
  width: 100%;
  background: url("../img/tekk.jpg") center center/cover no-repeat;
}
.venue .venue_details {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 55%;
  background-color: #fff;
  opacity: 0.8;
  padding: 1rem 1.4rem;
  text-align: center;
}
.venue .venue_details h2 {
  text-align: center;
  font-size: 1.6rem;
  font-family: "Crimson Text", serif;
  font-weight: 600;
  padding: 0.6rem 0;
}
.venue .venue_details h6 {
  font-family: "Inter", sans-serif;
  font-size: 0.8rem;
  font-weight: 400;
  width: 80%;
}
.venue .venue_details .line {
  width: 85%;
  border-top: 2px solid rgb(133, 133, 133);
  padding-bottom: 0.6rem;
}

/* spotlight  */
.spotlight {
  width: 70%;
  margin: 0 auto;
  padding-top: 2rem;
  padding-bottom: 3rem;
}
.spotlight .spotlight_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0;
  font-weight: 400;
}
.spotlight .spotlight_title h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.2rem;
}
.spotlight .spotlight_title p {
  font-size: 0.625rem;
  cursor: pointer;
}
.spotlight .spotlight_content {
  position: relative;
  height: 70vh;
  width: 100%;
  background: url("../img/film.jpg") center center/cover no-repeat;
}
.spotlight .spotlight_content .spotlight_text {
  position: absolute;
  color: #fff;
  top: 85%;
  left: 50%;
  transform: translate(-50%, -85%);
  text-align: center;
}
.spotlight .spotlight_content .spotlight_text h4 {
  font-family: "Playfair Display", serif;
  font-size: 1.3rem;
  font-weight: 400;
}
.spotlight .spotlight_content .spotlight_text p {
  font-family: "Inter", sans-serif;
  font-size: 0.575rem;
  padding: 1.2rem;
}
.spotlight .spotlight_content .spotlight_text .line1 {
  width: 100%;
  border-top: 2px solid #fff;
  padding-bottom: 2px;
}

/* newsletter */
.newsletter {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2.5rem;
  background-color: rgb(248, 240, 238);
  text-align: center;
  padding: 2rem 9rem;
}
.newsletter .newsletter_icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 0.7rem;
}
.newsletter .newsletter_icon i {
  font-size: 1.2rem;
  margin: 0 0.5rem;
}
.newsletter .newsletter_title {
  font-family: "Gentium Plus", serif;
  font-size: 2rem;
  font-weight: 500;
  padding-right: 1rem;
}
.newsletter .newsletter_subtitle {
  font-size: 0.9rem;
}
.newsletter .newsletter_text {
  font-family: "Gentium Plus", serif;
  font-size: 1rem;
  font-weight: 500;
  text-align: start;
}
.newsletter .newsletter_form input[type=email] {
  padding: 0.45rem 0;
  outline: none;
  border: none;
  background-color: transparent;
  border-bottom: 2px solid rgb(179, 179, 179);
}
.newsletter .newsletter_form input[type=email]::-moz-placeholder {
  font-size: 0.6rem;
}
.newsletter .newsletter_form input[type=email]:-ms-input-placeholder {
  font-size: 0.6rem;
}
.newsletter .newsletter_form input[type=email]::placeholder {
  font-size: 0.6rem;
}
.newsletter .newsletter_form button {
  background-color: transparent;
  padding: 0.515rem 0.7rem;
  border: none;
  border-bottom: 2px solid rgb(179, 179, 179);
  font-size: 0.7rem;
  margin-left: -5px;
}

/* footer */
footer {
  background-color: #555;
  color: #bbb;
  line-height: 1.5;
}
footer a {
  color: #eee;
}
footer .ft-title_logo img {
  width: 100%;
}
footer .ft-main {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 4rem;
  font-family: "Inter", sans-serif;
}
footer .ft-main h2 {
  color: #fff;
  font-size: 0.6rem;
  padding-bottom: 0.625rem;
}
footer .ft-main li {
  font-size: 0.6rem;
  padding-bottom: 0.2rem;
}

/* responsive design */
@media screen and (max-width: 767px) {
  /* header */
  .header {
    padding: 1rem;
  }
  .header .hd-logo img {
    width: 35%;
  }
  .header .hd-nav {
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .header .hd-nav .hd_nav_detail ul a {
    margin-right: 0.8rem;
  }
  .header .hd-nav .hd_nav_logo {
    position: relative;
    text-align: center;
    padding-top: 0.8rem;
  }
  .header .hd-nav .hd_nav_logo span {
    margin: 0.7rem;
  }
  /* banner section */
  .background {
    height: 80vh;
  }
  .background .background_details {
    max-width: 90%;
  }
  .background .background_details h2 {
    font-size: 1.5rem;
  }
  /* wedding planner section */
  .wedding_planner {
    padding: 1.5rem 1rem;
  }
  .wedding_planner .planner_details {
    max-width: 95%;
  }
  .wedding_planner .planner_details h2 {
    max-width: 100%;
    font-size: 1.5rem;
    margin-bottom: 0.8rem;
  }
  .wedding_planner .planner_details .planner_items .item {
    margin: 0.3rem;
    padding-left: 0.5rem;
  }
  .wedding_planner .planner_details .planner_form {
    margin-top: 0.8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wedding_planner .planner_details .planner_form select {
    width: 33%;
    background: none;
  }
  .wedding_planner .planner_details .planner_form input[type=button] {
    padding: 0.6rem 0.9rem;
  }
  .wedding_planner .planner_details .underline {
    width: 8rem;
  }
  /* wedding pros section */
  .wedding_pros {
    width: 85%;
  }
  .wedding_pros .wedding_pros_title p {
    font-size: 0.7rem;
  }
  .wedding_pros .wedding_pros_content {
    height: 55vh;
  }
  .wedding_pros .wedding_pros_content .wedding_pros_text {
    width: 100%;
  }
  .wedding_pros .wedding_pros_content .wedding_pros_text h4 {
    font-size: 1.2rem;
  }
  .wedding_pros .wedding_pros_content .wedding_pros_text h6 {
    font-size: 0.8rem;
  }
  .wedding_pros .wedding_pros_content .wedding_pros_text p {
    font-size: 0.5rem;
  }
  /* testimonial */
  .testimonial {
    padding: 1.5rem;
  }
  .testimonial .testimonial_text h2 {
    font-size: 1.4rem;
    padding-left: 0.8rem;
  }
  .testimonial .testimonial_text h4 {
    font-size: 1rem;
    padding-right: 0.8rem;
  }
  .testimonial .testimonial_form input[type=text] {
    width: 30%;
    margin-right: 0;
  }
  .testimonial .testimonial_form input[type=email] {
    width: 30%;
  }
  /* venue section */
  .venue {
    height: 35vh;
  }
  .venue .venue_details {
    width: 75%;
    padding: 1rem 1.4rem;
  }
  .venue .venue_details h2 {
    font-size: 1.3rem;
  }
  .venue .venue_details h6 {
    font-size: 0.7rem;
    width: 90%;
  }
  .venue .venue_details button {
    background: #fff;
    border: 1px solid;
    padding: 0.5rem 2.5rem;
    font-size: 0.7rem;
    font-weight: 500;
  }
  .venue .venue_details .line {
    width: 85%;
    border-top: 2px solid rgb(133, 133, 133);
    padding-bottom: 0.6rem;
  }
  /* spotlight  */
  .spotlight {
    width: 85%;
  }
  .spotlight .spotlight_title {
    padding: 1rem 0;
  }
  .spotlight .spotlight_title p {
    font-size: 0.7rem;
  }
  .spotlight .spotlight_content {
    height: 55vh;
  }
  .spotlight .spotlight_content .spotlight_text {
    width: 80%;
  }
  .spotlight .spotlight_content .spotlight_text h4 {
    font-size: 1rem;
  }
  .spotlight .spotlight_content .spotlight_text p {
    font-size: 0.55rem;
  }
  /* newsletter */
  .newsletter {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
  }
  .newsletter .newsletter_title {
    padding-bottom: 1rem;
  }
  .newsletter .newsletter_form {
    padding: 1rem 0;
  }
  /* footer */
  footer .ft-main {
    display: flex;
    flex-direction: column;
    padding: 1.5rem 3rem;
  }
  footer .ft-main .ft-main-item {
    padding: 0.7rem 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 1023px) {
  /* banner section */
  .background {
    height: 70vh;
  }
  .background .background_details {
    margin-top: 8rem;
  }
  /* wedding planner section */
  .wedding_planner {
    padding: 2rem;
  }
  .wedding_planner .planner_details {
    max-width: 80%;
  }
  .wedding_planner .planner_details .planner_form select {
    width: 11rem;
  }
  /* wedding pros section */
  .wedding_pros {
    width: 80%;
  }
  .wedding_pros .wedding_pros_title p {
    font-size: 0.7rem;
  }
  .wedding_pros .wedding_pros_content {
    height: 60vh;
  }
  .wedding_pros .wedding_pros_content .wedding_pros_text h4 {
    font-size: 1.5rem;
  }
  .wedding_pros .wedding_pros_content .wedding_pros_text h6 {
    font-size: 1rem;
  }
  .wedding_pros .wedding_pros_content .wedding_pros_text p {
    font-size: 0.7rem;
  }
  /* spotlight  */
  .spotlight {
    width: 80%;
  }
  .spotlight .spotlight_title {
    padding: 1rem 0;
  }
  .spotlight .spotlight_title p {
    font-size: 0.6rem;
  }
  .spotlight .spotlight_content {
    height: 55vh;
  }
  .spotlight .spotlight_content .spotlight_text h4 {
    font-size: 1.075rem;
  }
  .spotlight .spotlight_content .spotlight_text p {
    font-size: 0.6rem;
  }
  /* newsletter */
  .newsletter {
    padding: 3.5rem;
  }
}/*# sourceMappingURL=style.css.map */